# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build files
dist/
build/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
.env.local

# Other
.DS_Store
